---
title: false
styles: true
---
// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #ddc145 !default;
$hoverColour: #af997e !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;
@import "alembic";
